#vscode data
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/settings.json
.vscode/targets.log
*.code-workspace

#build folder, executable and output files
**/tmp_build_dir
**/*.ex
**/Backtrace*
**/plt*
**/chk*
**/.ipynb_checkpoints/
**/results
**/*.visit
build/
# probe data
**/probe.csv

# mac files
.DS_Store

/src/.temp

/wrk/

#temp folder for testing
/exm/tmp

#lib folder, excluding install script
/lib/*
!/lib/install.sh
!/lib/autodiff
!/lib/clad

/tst/AMReX_regtests/output/AMReX-benchmarks/*
/tst/AMReX_regtests/output/AMReX-tests/*
/tst/AMReX_regtests/output/web/*

/docs/build_*

lib/boost/b2

#combustion results
tools/combustion/onedim.csv
tools/combustion/pmf-X.txt
tools/combustion/pmf-Y.txt

