[submodule "Submodules/amrex"]
	path = Submodules/amrex
	url = https://github.com/AMReX-Codes/amrex.git
[submodule "Submodules/PelePhysics"]
	path = Submodules/PelePhysics
	url = https://github.com/AMReX-Combustion/PelePhysics.git	
[submodule "Submodules/sundials"]
	path = Submodules/sundials
	url = https://github.com/LLNL/sundials.git
[submodule "old/amrsolver"]
	path = old/amrsolver
	url = https://github.com/Monal-Patel/amrsolver.git
[submodule "lib/cgal"]
	path = lib/cgal
	url = https://github.com/CGAL/cgal.git
